
<!-- Start Topics  Area -->
<section class="topics-area bg-color1">
   <div class="topics-wrapper section-spacing pt-0 bminus-30">
      <div class="container">
         <div class="section-title">
            {% assign title = site.data.topicsarea.title %}
            {% assign subtitle = site.data.topicsarea.subtitle %}
            <h4 class="heading-4">{{title}}</h4>
            <h7 class="heading-7"> <p>{{subtitle}}</p></h7>
         <div class="col">
            <!-- Start Topics  Area -->
            <div class="topics-service-area">
               {% for category in site.data.category.category %}
                {% capture category_name %}{{ category.key}}{% endcapture %}
                {% capture category_label %}{{ category.label}}{% endcapture %}
                {% capture category_draft %}{{ category.draft}}{% endcapture %}
                {% capture category_type %}{{ category.type}}{% endcapture %}
                {% if category_draft == "false" and category_type == '(categoria)' %}
                <!--CONTATORE POST IN CATEGORIA-->
                {% assign all_posts = site.categories[category_name] | where: 'draft' ,'false' %}
                {% if all_posts.size > 0 %}
                {% assign posts_number = 0  %}
                <!--STAMPO POST DELLA CATEGORIA-->
                   {% assign evidence_posts_cat = site.posts | where: 'categories' , category_name | where: "featured", true | where: 'draft' ,'false' | where: 'category_key', nil | sort: "order" %}
                   <!--nel widget nella home compaiono solo i post con featured = true e draft = false-->
                   {% for doc_post in evidence_posts_cat %}
                   {% capture post_draft %}{{ doc_post.draft}}{% endcapture %}
                      {% if post_draft == "false" %}
                      {% assign posts_number = posts_number | plus:  1  %}
                      {% endif %}
                   {% endfor %}
                <!--STAMPO POST DELLE SEZIONI-->
                   {% assign evidence_posts_sez = site.posts | where: 'categories' , category_name | where: "featured", true | where: 'draft' ,'false' | where: 'category_key', category_name | sort: "order" %}
                   <!--nel widget nella home compaiono solo i post con featured = true e draft = false-->
                   {% for doc_post in evidence_posts_sez %}
                      {% capture post_draft %}{{ doc_post.draft}}{% endcapture %}
                      {% capture name_section %}{{ doc_post.categories[1]}}{% endcapture %}
                      {% assign section = site.data.category.category | where: 'key', name_section | where: 'type' ,'(sezione)' | first %}
                      {% capture section_draft %}{{ section.draft}}{% endcapture %}
                      {% if section_draft == "false" %}
                         {% if post_draft == "false" %}
                         <!--CONTA I POST NELLA CATEGORIA-->
                         {% assign posts_number = posts_number | plus:  1  %}
                         {% endif %}
                      {% endif %}
                   {% endfor %}
                {% endif %}
                <!--FINE CONTATORE POST IN CATEGORIA-->
               <article class="post topics-service bg-color3 wow fadeIn" data-wow-duration="3s">
                     <header class="topics-title">
                        {% assign all_posts = site.categories[category_name] | where: 'draft' ,'false' %}
                     <h4 class="heading-4 text-capitalize">{{ category_label }} ({{posts_number}})</h4> 
                     </header>
                     <ul class="topics-list list-inline">
                        <!-- AGGIUNGERE IL CAMPO ORDER AL POST - CONTROLLA CHE CI SIA ALMENTO UN POST NELLA CATEGORIA-->
                        {% if all_posts.size > 0 %}
                        <!--STAMPO POST DELLA CATEGORIA-->
                           {% assign evidence_posts_cat = site.posts | where: 'categories' , category_name | where: "featured", true | where: 'draft' ,'false' | where: 'category_key', nil | sort: "order" %}
                           <!--nel widget nella home compaiono solo i post con featured = true e draft = false-->
                           {% for doc_post in evidence_posts_cat %}
                           {% capture post_draft %}{{ doc_post.draft}}{% endcapture %}
                              {% if post_draft == "false" %}
                              <li><a href="{{ doc_post.url | relative_url }}">{{ doc_post.title }} </a></li>
                              {% endif %}
                           {% endfor %}
                        <!--STAMPO POST DELLE SEZIONI-->
                           {% assign evidence_posts_sez = site.posts | where: 'categories' , category_name | where: "featured", true | where: 'draft' ,'false' | where: 'category_key', category_name | sort: "order" %}
                           <!--nel widget nella home compaiono solo i post con featured = true e draft = false-->
                           {% for doc_post in evidence_posts_sez %}
                              {% capture post_draft %}{{ doc_post.draft}}{% endcapture %}
                              {% capture name_section %}{{ doc_post.categories[1]}}{% endcapture %}
                              {% assign section = site.data.category.category | where: 'key', name_section | where: 'type' ,'(sezione)' | first %}
                              {% capture section_draft %}{{ section.draft}}{% endcapture %}
                              {% if section_draft == "false" %}
                                 {% if post_draft == "false" %}
                                 <li><a href="{{ doc_post.url | relative_url }}">{{ doc_post.title }} </a></li>
                                 {% endif %}
                              {% endif %}
                           {% endfor %}
                        {% endif %}
                     </ul>
               </article>  
               {% endif %}
            {%endfor%}
           </div> 
         </div>	
      </div>
   </div>
</section>
<!-- End Topics Area -->
