<!--ELENCO NUOVI POST SULLA SPALLA A DX-->
<div class="sidebar-area sidebar-right">
<!--RIMUOVO DALL'URL /CATEGORIES/-->
DEB0: {{page.url}}
DEB1: {{site.baseurl}}
{% capture category_n %}{{ page.url | remove: page.title}}{% endcapture %}
DEB2: {{category_n}}
{% capture category_nam %}{{ category_n | remove: "/"}}{% endcapture %}
DEB3: {{category_nam}}
{% assign category_name = site.data.category.category | where: "key", category_nam | first %}
DEB4: {{category_name.label}}
{% capture category_label %}{{ category_name.label}}{% endcapture %}
<h5 class="sub-title heading-5">Category post: {{category_label}}</h5>
<div class="recent-widget sidebar-widget">
  {% capture category_key %}{{category_name.key}}{% endcapture %}
  {% assign all_posts = site.categories[category_key] | where: 'draft' ,'false' %}
  {% if all_posts.size > 0 %}
   {% assign all_posts_ord = site.categories[category_key] | where: 'draft' ,'false' | sort: "order" %}
   {% for post in all_posts_ord %}
      <!--CAPISCO SE LA SEZIONE E' DRAFT-->
      {% capture section_post %}{{ post.categories[1]}}{% endcapture %}
      {% if section_post != nil  %}  
         {% assign section = site.data.category.category | where: 'key' ,section_post | where: 'type' , '(sezione)' | first%}
         {% capture section_draft %}{{ section.draft}}{% endcapture %}
         {% if section_draft == "false" or section_draft == ""  %}  
         <!--CAPISCO SE IL POST E' DRAFT-->  
         <div class="recent-wrapper">
            <a class="recent-img">
            <img src="{{post.post_image | relative_url}}" alt="{{post.title}}">
            </a>
            <div class="recent-details">
               <h6 class="heading-6"> <a href="{{post.url | relative_url}}">{{post.title}}</a> </h6>
               <ul class="recent-meta list-inline">
                  <li class="list-inline-item">{{post.date | date_to_long_string}}</li>
               </ul>
            </div>
         </div>
         {% endif %}
      {% endif %}  
   {% endfor %}
  {% endif %}
</div>
</div>
