---
layout: default
author_profile: false
---
 <!-- PAGINA ELENCO DEI POST DI UNA CATEGORIA -->
{% include header.html %}
   <!-- Start Page Title Area -->
   {% capture bg-cover-custom_color %}{{site.data.header.custom_color}}{% endcapture %}
   <section class="page-title-area bg-cover-custom" style="background-color: {{bg-cover-custom_color}}!important;">
      <div class="page-title-wrapper section-spacing">
         <div class="page-title text-center white-text">
            <h2 class="heading-2">{{page.title | replace: '_', '-' }}</h2>
         </div>
      </div>
   </section>
   <!-- End Page Title Area -->
   {% include breadcrumbs.html %}
    <!-- Start Blog  Area -->
    <section class="blog-area bg-color1">
      <div class="blog-wrapper section-spacing bminus-30">
         <div class="container">
            <div class="row">
               <div class="col-md-7 col-lg-8">
                {% for post in page.posts %}
                <div class="{{ include.type | default: 'list' }}__item">
                  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
                        <h7 class="heading-7" itemprop="headline" style="margin-bottom: -2px;">
                          <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
                        </h7>
                  </article>
                </div>
                {% endfor %}
               </div>
               <div class="col-md-5 col-lg-4">
                {% include sidebar_cat_list.html %}
                {% include sidebar_new_post_list.html %}
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Blog Area -->
{% include footer_custom.html %}