---
layout: default
author_profile: false
---
 <!-- PAGINA ELENCO DELLE SEZIONI DI UNA CATEGORIA -->
{% include header.html %}
   <!-- Start Page Title Area -->
   {% capture bg-cover-custom_color %}{{site.data.header.custom_color}}{% endcapture %}
   <section class="page-title-area bg-cover-custom" style="background-color: {{bg-cover-custom_color}}!important;">
      <div class="page-title-wrapper section-spacing">
         <div class="page-title text-center white-text">
            {% assign page_tit =  site.data.category.category | where: 'key' ,page.title | first %}
            <h2 class="heading-2">{{page_tit.label | replace: '_', '-' }}</h2>
         </div>
      </div>
   </section>
   <!-- End Page Title Area -->
   {% include breadcrumbs.html %}
    <!-- Start Blog  Area -->
    <section class="blog-area bg-color1">
      <div class="blog-wrapper section-spacing bminus-30">
         <div class="container">
            <div class="row">
               <div class="col-md-7 col-lg-8">
               <!--RIMUOVO DALL'URL /CATEGORIES/-->
               {% capture category_n %}{{ page.url | remove: "/categories/"}}{% endcapture %}
               {% capture category_name %}{{ category_n | remove: "/"}}{% endcapture %}
               <!--CAPISCO SE MI TROVO IN UNA CATEGORIA O SEZIONE-->
               <!--DEB1: {{category_name}}-->
               {% assign cat-sez =  site.data.category.category | where: 'key' ,category_name | first %}
               <!--DEB2: {{cat-sez.type}} -->
               <!-- SE MI TROVO IN UNA CATEGORIA-->
               {% if cat-sez.type == "(categoria)" %}
                  <!--CAPISCO SE DEVO VISUALIZZARE ARTICOLI E/O CATEGORIE-->
                  {% assign display_mode =  site.data.topicsarea.display_mode %}
                  {% if display_mode == "all" %}
                     <h5 class="heading-6">{{site.data.ui-text[site.locale].section_category_all | default: "Gli articoli e le sezioni della categoria" }} {{page_tit.label | replace: '_', '-' }}</h5>
                  {% elsif display_mode == "article_in_category" %}
                     <h5 class="heading-6">{{site.data.ui-text[site.locale].section_category_onlyart | default: "Gli articoli della categoria" }} {{page_tit.label | replace: '_', '-' }}</h5>
                  {% elsif display_mode == "article_in_section" %}
                     <h5 class="heading-6">{{site.data.ui-text[site.locale].section_category_onlysez | default: "Le sezioni della categoria" }} {{page_tit.label | replace: '_', '-' }}</h5>
                  {% endif %}
                  <!--PRENDO TUTTE LE CATEGORIE-->
                  <!-- {% assign all_categories = site.categories[category_name] | map: "categories" | uniq %} -->
                  {% assign all_categories =  site.data.category.category | where: 'category_key' , category_name %}
                  <article class="post topics-service bg-color3 wow fadeIn" data-wow-duration="3s">
                  {% if display_mode == "article_in_category" %}
                     <!--CICLO SU TUTTI GLI ARTICOLI DELLA CATEGORIA-->
                     {% assign all_posts_of_category = site.categories[category_name] | where: 'category_key', nil  %}
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7 col-lg-8">
                              {% for post in all_posts_of_category %}
                                 {% include archive-single.html %}
                              {% endfor %}
                           </div>
                        </div>
                     </div>
                  {% endif %}
                  {% if display_mode == "all" %}
                     <!--CICLO SU TUTTI GLI ARTICOLI DELLA CATEGORIA-->
                     {% assign all_posts_of_category = site.categories[category_name] | where: 'category_key', nil  %}
                     {% for post in all_posts_of_category %}
                        {% include archive-single.html %}
                     {% endfor %}
                  {% endif %}
                  {% if display_mode == "all" or display_mode == "article_in_section" %}
                     <!--CICLO SU TUTTE LE SEZIONI DELLA CATEGORIA-->
                     {% for section in all_categories %}
                        <!--PRENDO TUTTE LE SEZIONI-->
                        {% capture section_key %}{{section.key}}{% endcapture %}
                        {% assign all_posts = site.categories[section_key] %}
                        {% if section !=  category_name and all_posts.size > 0 %}
                           <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
                              <h5 class="heading-5" itemprop="headline">
                              <!-- COSTRUISCO URL SEZIONE -->
                              {% capture section_url %}{{ '/categories/' | append: section.url }}{% endcapture %}
                              <a href="{{ section_url | relative_url }}" rel="permalink">{{section.label}}</a>
                              </h5>
                        {% else %}
                           <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
                           <h7 class="heading-7" itemprop="headline">
                           <!-- MESSAGGIO NESSUNA SEZIONE-->
                           {{site.data.ui-text[site.locale].section_no | default: "Nessun articolo è associato alla sezione " }}{{section.label}}
                           </h7>
                        {% endif %}
                     {% endfor %}
                  {% endif %}
               {% elsif cat-sez.type == "(sezione)"  %}
                 <!-- SE MI TROVO IN UNA SEZIONE-->
                 <h4 class="heading-4">Gli articoli della sezione {{page_tit.label | replace: '_', '-' }}</h4>
                  <!--PRENDO TUTTI GLI ARTICOLI-->
                  {% assign my_posts_section = site.categories[cat-sez.key] | where: 'category_key',cat-sez.category_key %}
                  <article class="post topics-service bg-color3 wow fadeIn" data-wow-duration="3s">
                  <!--CICLO SU TUTTI GLI ARTICOLI DELLA SEZIONE-->
                     {% for post in my_posts_section %}
                         {% include archive-single.html %}
                     {% endfor %}
               {% endif %}
               </div>
               <div class="col-md-5 col-lg-4">
                {% if cat-sez.type == "(categoria)" %}
                <!--WIDGET CATEGORIE-->
                  {% include sidebar_cat_list.html %}
                {% elsif cat-sez.type == "(sezione)"  %}
                <!--WIDGET SEZIONI-->
                  {% include sidebar_sect_list.html %}
                {% endif %}
                {% include sidebar_new_post_list.html %}
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Blog Area -->
{% include footer_custom.html %}